.file-inputs {
    padding-top: 10px;
    margin-top: 10px;
    position: relative;
}

.file-picker {
    position: relative;
    text-align: right;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}


.file-picker-overlay {
    margin-top:10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.upload-file-button {
    margin-top: 20px;
    border: 2px solid var(--primary-accent-color);
}
