<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>treeTrimmer</title>

{#        <script type="text/javascript" src="{{ url_for('static', filename='dependencies/jquery-3.3.1.js')}}"></script>#}
{#        <script type="text/javascript" src="{{ url_for('static', filename='dependencies/d3.js') }}"></script>#}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='src/utilities/round.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='src/application/accuracy_report.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='src/application/confusion_matrix.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='src/application/decision_tree.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='src/application/feature_table.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='src/application/node_summary.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='src/application/params_table.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='src/application/tree_summary.js')}}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='src/application/tree_trimmer.js')}}"></script>

{#            <script type="text/javascript" src="{{ url_for('static', filename='src/application/tree_trimmer.js')}}"></script>#}


        <script type="text/javascript" src="{{ url_for('static', filename='src/utilities/form_utilities.js')}}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='src/main.js')}}"></script>



        <link rel="stylesheet" href="{{ url_for('static', filename='css/tree-demo.css')}}">

</head>
<body>

        <script>

            const indexFormUtilities = formUtilities();
        </script>

        <div id="init-data">
            <strong>Files:</strong>
            <br>
            <input id="file-picker" type="file" name="file" accept="text/csv/*" multiple>
            <br>

            <label for="criterion">Selection criterion:</label>
            <select id="criterion">
                <option value="gini">Gini</option>
                <option value="entropy">Entropy</option>
            </select>
            <br>

            <label for="max-depth">Max Depth:</label>
            <input type="number" id="max-depth" value="20" min="1"/>

            <label for="min-samples-split">Min Samples Split: </label>
            <input type="number" id="min-samples-split" value="2" min="1"/>

            <label for="min-samples-leaf">Min Samples in Leaf:</label>
            <input type="number" id="min-samples-leaf" value="1" min="1"/> <br>

            <label for="random-state">Random State: </label>
            <input type="checkbox" id="random-state" checked/><br>

            <label for="data-has-target"> Does the data have a target? </label>
            <input type="checkbox" id="data-has-target" onclick="indexFormUtilities.hasTarget(this);"/>
            <input type="number" id="data-target-index" value="0" min="0" style="display: none;" />
            <input type="button" value="Upload!" id="upload-button" onclick="initializeTree(document.getElementById('file-picker').files[0]); return false;"/>
        </div>

        {# Top row summary data #}
        <div class="box">
            <input type="button" value="Show input form" id="input-form-toggle" class="top-box-elements" style="display: none" onclick="indexFormUtilities.toggleInputForm(this)"/>
            <div id="parameter-table" class="top-box-elements"></div>
            <div id="accuracy-report" class="top-box-elements"></div>
            <div id="tree-summary" class="top-box-elements"></div>
        </div>

        {# Tree display #}
        <div class="box">
            {# Container for decision tree #}
            <div id="tree-container" class="top-box-elements"></div>
            {# Sidebar summary elements #}
            <div class="box-vertical">
                <div id="matrix" class="box-elements"></div>
                <div id="important-features" class="box-elements"></div>
                <div id="node-summary" class="box-elements"></div>
            </div>

        </div>

</body>
</html>
